# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/res/aNewFile.txt
src/res/bones.txt
src/res/Delkash-Omide_Janam.mp3
src/res/newBones.txt
src/res/newfile.txt
src/res/newfileduded.txt
src/res/Omide Janam - Delkash.lrc
src/res/The Longest Johns - Bones in the Ocean.lrc
